<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Управление Обслуживанием</title>
    <link rel="stylesheet" type="text/css" href="css/form.css">

    <!-- Глобальные переменные JS -->
    <script th:inline="javascript">
        var currentPage = 1;
    </script>

    <script th:inline="javascript" src="SubmitFormFunctions/Functions.js"></script>
    <script th:inline="javascript" src="Utility/GeneralUtilites.js"></script>
</head>
<body>
<header>
    <img id = "img1" src="css/burger.png" class="toggle-submenu" onmouseover="toggleMenu('block')" onmouseout="toggleMenu('none')">

    <!-- Выбор количества строк на странице -->
    <div>
        <label for="itemsPerPage">Строк на странице:</label>
        <select id="itemsPerPage" onchange="UpdateNavigationPanel(); GetPageFromTable(1);">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
            <option value="100" selected>100</option>
        </select>
    </div>

    <h1> Управление Обслуживанием </h1>
</header>

<div id="submenu" onmouseover="toggleMenu('block')" onmouseout="toggleMenu('none')">
    <ul>
        <li><a href="/allocation">Местпоположения</a></li>
        <li><a href="/classroom">Классы</a></li>
        <li><a href="/equipment">Оборудование</a></li>
        <li><a href="/equipmentType">Типы оборудования</a></li>
        <li><a href="/seat">Учебные места</a></li>
        <li><a href="/service">Обслуживание</a></li>
    </ul>
</div>

<div id="container1">
    <div id="container2">
        <div id="input">
            <button type="button" onclick="ShowDeleteForm()">Удалить</button>
            <button type="button" onclick="ShowEditForm()">Изменить</button>
            <button type="button" onclick="ShowCreateForm()">Создать</button>
        </div>

        <div id="forms">
            <!-- Форма создания для Обслуживание -->
            <form id="createForm" onsubmit="SubmitCreateForm(event); return false;" method="post">
                <h1>Создание Обслуживания</h1>
                <label for="create_educationalPlaceId">Учебное место:</label>
                <input type="text" id="create_educationalPlaceId" name="ид_учебного_места"
                       data-source="Учебное_место"
                       data-columns-order="ид_учебного_места, ид_класса, номер_учебного_места,  имя_рабочей_станции,  ip_адрес, примечание"
                       autocomplete="off"
                       readonly>

                <label for="create_equipmentId">Оборудование:</label>
                <input type="text" id="create_equipmentId" name="ид_оборудования"
                       data-source="Оборудование"
                       data-columns-order="ид_оборудования, ид_типа_оборудования, инвентарный_номер, признак_исправности, примечание"
                       autocomplete="off"
                       readonly>

                <label for="create_installationDate">Дата установки:</label>
                <input type="date" id="create_installationDate" name="дата_установки">

                <label for="create_removalDate">Дата снятия:</label>
                <input type="date" id="create_removalDate" name="дата_снятия">
                <button type="submit">Отправить</button>
            </form>

            <!-- Форма изменения для Обслуживание -->
            <form id="editForm" onsubmit="SubmitEditForm(event); return false;" method="post" style="display: none;">
                <h1>Изменение Обслуживания</h1>
                <label for="edit_serviceForm">ID обслужиавания:</label>
                <input type="text" id="edit_serviceForm" name="ид_обслуживания">

                <label for="edit_installationDate">Дата установки:</label>
                <input type="date" id="edit_installationDate" name="дата_установки">

                <label for="edit_removalDate">Дата снятия:</label>
                <input type="date" id="edit_removalDate" name="дата_снятия">
                <button type="submit">Отправить</button>
            </form>

            <!-- Форма удаления для Обслуживание -->
            <form id="deleteForm" onsubmit="SubmitDeleteForm(event); return false;" method="post" style="display: none;">
                <h1>Удаление Обслуживания</h1>
                <label for="delete_serviceForm">ID обслужиавания:</label>
                <input type="text" id="delete_serviceForm" name="ид_обслуживания">
                <button type="submit">Отправить</button>
            </form>
        </div>
    </div>

    <div>
        <!-- Место под панель навигации -->
        <div id="navigationPanel"></div>

        <table id="table" class="mainTable" name="Обслуживание">
            <thead>
            <tr>
                <th name="ид_обслуживания">ID Обслуживания</th>

                <th name="ид_оборудования"
                    data-expanded-source="Оборудование"
                    data-expended-columns="ид_оборудования, инвентарный_номер, признак_исправности"
                    data-expanded-prefix="ИД: *$Инвентарный номер: *$П/И: *">
                    Оборудование
                </th>

                <th name="ид_учебного_места"
                    data-expanded-source="Учебное_место"
                    data-expended-columns="ид_учебного_места, номер_учебного_места, имя_рабочей_станции, ip_адрес"
                    data-expanded-prefix="ИД: *$Номер: *$Имя WS: *$IP-адрес *">
                    Учебное место
                </th>

                <th name="дата_установки">Дата Установки</th>
                <th name="дата_снятия">Дата Снятия</th>
            </tr>
            </thead>
            <tbody>
            <!-- Здесь будет динамически заполняться таблица -->
            </tbody>
        </table>
    </div>
</div>
</body>
</html>